.bio_container {
  padding: 8rem 0 0 8rem;
  display: flex;
  justify-content: center;
}

.bio_img_container {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

.bio_img {
  width: 24vw;
}

.bio_content {
  padding: 4rem;
  background-color: #fff;
  width: 48vw;
}

.bio_namebirth {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bio_namebirth_name {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.2rem;
  color: #585cc6;
}

.bio_namebirth_birth {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
  letter-spacing: 0.01rem;
  color: #8a8a8a;
}

.bio_details_container {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 2rem 0;
}

.bio_details {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
  letter-spacing: 0.01rem;
  color: #333333;
  margin-right: 2rem;
}

.bio_details span {
  font-weight: 700;
}

.bio_description {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
  letter-spacing: 0.01rem;
  color: #333333;
}

.bio_description span {
  font-weight: 700;
}

.bio_pet {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
  letter-spacing: 0.01rem;
  color: #333333;
  display: flex;
  align-items: center;
}

.bio_pet span {
  font-weight: 700;
  margin-right: 1rem;
}

.bio_pet_img {
  margin-right: 1.5rem;
  width: 10%;
}

@media only screen and (max-width: 920px) {
  .bio_container {
    flex-direction: column;
    align-items: center;
    padding: 12rem 0 0 0rem;
  }

  .bio_img_container {
    align-self: center;
  }

  .bio_img {
    width: 65vw;
  }

  .bio_content {
    width: 65vw;
  }

  .bio_description,
  .bio_pet,
  .bio_details,
  .bio_namebirth_birth {
    font-size: 2.4rem;
    line-height: 3.4rem;
  }

  .bio_details_container {
    flex-direction: column;
  }

  .bio_details {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 495px) {
  .bio_img {
    width: 80vw;
  }

  .bio_content {
    width: 80vw;
  }
}

@media only screen and (max-width: 1007px) and (min-width: 920px) {
  .bio_img {
    width: 34vw;
  }

  .bio_content {
    width: 50vw;
  }

  .bio_details_container {
    flex-direction: column;
  }

  .bio_details {
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 1440px) {
}
