.footer {
  padding: 2.4rem 8rem;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer h3 {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #8a8a8a;
}

.socialmedia_container {
  width: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socialmedia_container img {
  cursor: pointer;
  width: 4rem;
}
