.profile_container {
  display: flex;
  align-items: center;
}

.profile_img {
  margin-right: 2rem;
  width: 3vw;
  border-radius: 2px;
}

.profile_text {
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: #333;
  font-weight: 700;
}

@media only screen and (max-width: 640px) {
  .hide {
    display: none;
  }

  .profile_img {
    width: 8vw;
  }
}

@media only screen and (min-width: 641px) and (max-width: 1007px) {
  .profile_img {
    width: 6vw;
  }
}

@media only screen and (min-width: 1440px) {
  .profile_img {
    width: 6vw;
  }
}
