.profile_container {
  display: flex;
  align-items: center;
  width: 25rem;
}

.profile_img {
  margin-right: 2rem;
  /* width: 5.2rem; */
  width: 25%;
  border-radius: 2px;
}

.profile_text {
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: #333;
  font-weight: 700;
}

.profile_date {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
  letter-spacing: 0.01rem;
  color: #8a8a8a;
}
