.adminBtn {
  padding: 1.7rem 2.8rem;
  border-radius: 2px;
  background-color: #585cc6;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
  width: 25%;
}

.hide_bg {
  display: none;
}

@media only screen and (max-width: 640px) {
  .adminBtn {
    width: 100%;
  }

  .hide_bg {
    display: block;
  }

  .hide_sm {
    display: none;
  }
}
