.toast {
  width: 50.8rem;
  border-radius: 32px;
  padding: 2.3rem;
  display: flex;
  justify-content: flex-end;
}

.toast_container {
  position: absolute;
  bottom: 15rem;
  right: 5rem;
  z-index: 1000;
}

.relative {
  position: relative;
}

.wrapper {
  padding: 2rem;
}

.toast .wrapper div.title_container {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-bottom: 1.5rem;
}

.title_container span {
  z-index: 2;
  font-weight: 500;
  font-size: 3.2rem;
  letter-spacing: -0.035rem;
}

.hide {
  display: none;
}

.closen {
  cursor: pointer;
  width: 10%;
}

.toast p {
  font-weight: 400;
  font-size: 1.4rem;
  margin: 0;
  z-index: 2;
}

.bubbles,
.successOr {
  position: absolute;
  z-index: 1;
}

.successOr {
  width: 15%;
  top: -5rem;
  left: 2rem;
  cursor: pointer;
}

.bubbles {
  width: 25%;
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 32px;
}
