.title {
  font-weight: 500;
  font-size: 10rem;
  letter-spacing: -0.0124rem;
  color: #ffffff;
  margin: 0;
  padding: 8rem 0 0 8rem;
  width: 60vw;
}

@media only screen and (max-width: 640px) {
  .title {
    font-size: 7.4rem;
    line-height: 8.8rem;
    padding: 4rem 0 0 4rem;
  }
}

@media only screen and (min-width: 641px) and (max-width: 1007px) {
  .title {
    font-size: 8.4rem;
    line-height: 9.8rem;
    padding: 4rem 0 0 4rem;
  }
}

@media only screen and (min-width: 1440px) {
  .title {
    font-size: 12rem;
  }
}
