.logo_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo_img:first-child {
  margin-bottom: 0.743rem;
}

.logo_img {
  width: 5vw;
}

@media only screen and (max-width: 640px) {
  .logo_img {
    width: 15vw;
  }
}

@media only screen and (min-width: 641px) and (max-width: 1007px) {
  .logo_img {
    width: 10vw;
  }
}

@media only screen and (min-width: 1440px) {
  .logo_img {
    width: 7vw;
  }
}
