.header {
  padding: 2.2rem 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  position: relative;
}

@media only screen and (max-width: 640px) {
  .header {
    padding: 2rem;
  }
}

@media only screen and (min-width: 641px) and (max-width: 1007px) {
  .header {
    padding: 2.2rem 4rem;
  }
}
