.reviews_section {
  display: flex;
  padding-right: 2rem;
}

.reviews_block {
  margin: 8rem 0 0 0;
  padding: 4rem 6rem;
  background-color: #fff;
  width: 120rem;
}

.reviews_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.reviews_header h2 {
  margin: 0;
  font-weight: 500;
  font-size: 6.8rem;
  line-height: 8.8rem;
  letter-spacing: -0.0124rem;
  color: #333333;
}

.reviews_header button {
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: 0.01rem;
  color: #ffffff;
  padding: 1.7rem 2.8rem;
  background: #585cc6;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  width: 26rem;
  display: flex;
  align-items: center;
}

.reviews_header button img {
  width: 10%;
  margin-right: 2rem;
}

.reviews_container {
  display: flex;
  justify-content: space-between;
}

.page_container {
  display: flex;
  justify-content: center;
  margin-top: 3.2rem;
}

.page_container span {
  margin: 0 0.6rem;
  width: 3rem;
  opacity: 0.3;
  border: 4px solid #585cc6;
  display: inline-block;
}

.page_container span.active {
  opacity: 1;
  width: 4rem;
  border: 4px solid #585cc6;
}

.scroll_container {
  align-self: flex-end;
  display: flex;
  width: 20rem;
  justify-content: center;
}

.arrow_left_btn,
.arrow_right_btn {
  margin-left: 2rem;
  width: 4.6rem;
  height: 4.6rem;
  cursor: pointer;
  border-radius: 2px;
  border: none;
}

.arrow_leff_btn img,
.arrow_right_btn img {
  width: 60%;
}

.arrow_leff_btn {
  background: #e0e0e0;
}

.arrow_right_btn {
  background: #ffffff;
}

@media only screen and (max-width: 640px) {
  .reviews_section {
    width: 95vw;
  }

  .reviews_block {
    /* width: 60rem; */
    width: 100%;
  }

  .scroll_container {
    display: none;
  }

  .reviews_container {
    flex-direction: column;
  }

  .hide_sm {
    display: none;
  }

  .reviews_header button {
    padding: 1rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
  }

  .reviews_header button img {
    width: 40%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 641px) and (max-width: 930px) {
  .reviews_block {
    width: 75rem;
  }

  .scroll_container {
    display: none;
  }

  .reviews_container {
    flex-direction: column;
  }
}

@media only screen and (min-width: 1020px) and (max-width: 1715px) {
  .reviews_block {
    width: 85rem;
  }
}
